Repository IvanOrsh/ts-react-prod: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

refactor: put selector in its folder
  src/entities/User/model/selectors/getUserAuthData/getUserAuthData.ts
Due: npm run lint:ts, npm run test:unit:staged

feat: RequireAuth component for protected routes
  src/app/providers/router/ui/RequireAuth.tsx
Due: npm run lint:ts, npm run test:unit:staged

feat: update AppRouter to use RequireAuth
  src/app/App.tsx
  src/app/providers/router/ui/AppRouter.tsx
  src/entities/User/index.ts
  src/entities/User/model/selectors/getUserMounted/getUserMounted.ts
  src/entities/User/model/selectors/index.ts
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/user.ts
  src/shared/config/routeConfig/routeConfig.tsx
Due: npm run lint:ts, npm run test:unit:staged

fix: public path
  config/build/buildWebpackConfig.ts
  src/shared/assets/icons/article-20-20.svg
Due: npm run lint:ts, npm run test:unit:staged

chore: more icons
  src/shared/assets/icons/calendar-20-20.svg
  src/shared/assets/icons/copy-20-20.svg
  src/shared/assets/icons/done-20-20.svg
  src/shared/assets/icons/eye-20-20.svg
Due: none

feat: articles page
  src/pages/ArticlesPage/index.ts
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.module.scss
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.stories.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/ArtilesPage.async.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: article details page
  src/pages/ArticleDetailsPage/index.ts
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.async.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.module.scss
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.stories.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

chore: translations
  public/locales/en/article.json
  public/locales/en/translation.json
  public/locales/ru/article.json
  public/locales/ru/translation.json
Due: none

feat: add articles and article details pages to router, sidebar
  src/shared/config/routeConfig/routeConfig.tsx
  src/widgets/Sidebar/model/items.ts
Due: npm run lint:ts, npm run test:unit:staged

chore: artilces in db
  json-server/db.json
Due: none

feat: artilce type
  src/entities/Article/model/types/article.ts
Due: npm run lint:ts, npm run test:unit:staged

feat: Skeleton component
  src/shared/ui/Skeleton/Skeleton.module.scss
  src/shared/ui/Skeleton/Skeleton.stories.tsx
  src/shared/ui/Skeleton/Skeleton.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: page wrapper, skeleton color/shadow
  src/app/styles/index.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/normal.scss
  src/app/styles/themes/orange.scss
Due: npm run lint:scss

feat: article (details) entity, slice, selectors, service
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/app/providers/StoreProvider/config/store.ts
  src/entities/Article/index.ts
  src/entities/Article/model/selectors/articleDetails.ts
  src/entities/Article/model/services/fetchArticleById/fetchArticleById.ts
  src/entities/Article/model/slice/articleDetailsSlice.ts
  src/entities/Article/model/types/articleDetailsSchema.ts
Due: npm run lint:ts, npm run test:unit:staged

chore: update translations
  .vscode/settings.json
  public/locales/en/article-details.json
  public/locales/en/article.json
  public/locales/ru/article-details.json
  public/locales/ru/article.json
Due: none

feat: ArticleDetails ui
  src/entities/Article/ui/ArticleDetails/ArticleDetails.module.scss
  src/entities/Article/ui/ArticleDetails/ArticleDetails.stories.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetails.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

chore: update store decorator
  src/shared/config/storybook/StoreDecorator/StoreDecorator.tsx
Due: npm run lint:ts, npm run test:unit:staged

feat: scaffold artilce details page
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.stories.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.stories.tsx
Due: npm run lint:ts, npm run test:unit:staged

feat: icon component
  src/shared/ui/Icon/Icon.module.scss
  src/shared/ui/Icon/Icon.stories.tsx
  src/shared/ui/Icon/Icon.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: add size prop to Text component
  src/shared/ui/Text/Text.module.scss
  src/shared/ui/Text/Text.stories.tsx
  src/shared/ui/Text/Text.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

fix: page-wrapper
  src/app/styles/index.scss
Due: npm run lint:scss

fix: src image
  json-server/db.json
Due: none

fix: style
  src/shared/ui/Avatar/Avatar.module.scss
Due: npm run lint:scss

feat: code component
  src/shared/ui/Code/Code.module.scss
  src/shared/ui/Code/Code.stories.tsx
  src/shared/ui/Code/Code.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: update global styles
  src/app/styles/themes/dark.scss
  src/app/styles/themes/normal.scss
  src/app/styles/themes/orange.scss
Due: npm run lint:scss

test: ensure articleDetails selectors works properly
  src/entities/Article/model/selectors/articleDetails.test.ts
Due: npm run lint:ts, npm run test:unit:staged

test: ensure fetchArtilceById service works properly
  src/entities/Article/model/services/fetchArticleById/fetchArticleById.test.ts
Due: npm run lint:ts, npm run test:unit:staged

test: ensure articleDetailsSlice works properly
  src/entities/Article/model/slice/articleDetailsSlice.test.ts
Due: npm run lint:ts, npm run test:unit:staged

feat: article blocks: code, text, image
  src/entities/Article/ui/ArticleCodeBlockComponent/ArticleCodeBlockComponent.stories.tsx
  src/entities/Article/ui/ArticleCodeBlockComponent/ArticleCodeBlockComponent.tsx
  src/entities/Article/ui/ArticleImageBlockComponent/ArticleImageBlockComponent.module.scss
  src/entities/Article/ui/ArticleImageBlockComponent/ArticleImageBlockComponent.stories.tsx
  src/entities/Article/ui/ArticleImageBlockComponent/ArticleImageBlockComponent.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponent.module.scss
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponent.stories.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponent.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: article details main component
  src/entities/Article/ui/ArticleDetails/ArticleDetails.module.scss
  src/entities/Article/ui/ArticleDetails/ArticleDetails.stories.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetails.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: update article details page
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.module.scss
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.stories.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

fix: styles
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/Button/Button.module.scss
Due: npm run lint:scss

chore: update translations
  public/locales/en/translation.json
  public/locales/ru/translation.json
Due: none

fix: styles
  src/entities/Article/ui/ArticleCodeBlockComponent/ArticleCodeBlockComponent.module.scss
  src/entities/Article/ui/ArticleCodeBlockComponent/ArticleCodeBlockComponent.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.module.scss
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: comment entity
  src/entities/Comment/index.ts
  src/entities/Comment/model/types/comment.ts
  src/entities/Comment/ui/CommentCard/CommentCard.module.scss
  src/entities/Comment/ui/CommentCard/CommentCard.stories.tsx
  src/entities/Comment/ui/CommentCard/CommentCard.tsx
  src/entities/Comment/ui/CommentList/CommentList.module.scss
  src/entities/Comment/ui/CommentList/CommentList.stories.tsx
  src/entities/Comment/ui/CommentList/CommentList.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

refactor: extract logic for storybook to a separate hook
  src/entities/Article/ui/ArticleDetails/ArticleDetails.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/lib/hooks/useInitialEffect/useInitialEffect.ts
Due: npm run lint:ts, npm run test:unit:staged

chore: update json-server db, update translations
  json-server/db.json
  public/locales/en/article-details.json
  public/locales/en/translation.json
  public/locales/ru/article-details.json
  public/locales/ru/translation.json
Due: none

feat: articleDetailsComments
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/app/providers/StoreProvider/config/store.ts
  src/entities/User/model/types/user.ts
  src/pages/ArticleDetailsPage/model/slices/articleDetailsCommentsSlice.ts
  src/shared/lib/hooks/index.ts
Due: npm run lint:ts, npm run test:unit:staged

feat: articleDetailsComments: service, schema, ui
  src/pages/ArticleDetailsPage/index.ts
  src/pages/ArticleDetailsPage/model/selectors/comments.ts
  src/pages/ArticleDetailsPage/model/services/fetchCommentsByArticleId/fetchCommentsByArticleId.ts
  src/pages/ArticleDetailsPage/model/types/ArticleDetailsCommentsSchema.ts
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.module.scss
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

Path conditions:
  npm run lint:ts: any of: **/*.{ts,tsx}
  npm run test:unit:staged: any of: **/*.{ts,tsx}
  npm run lint:scss: any of: **/*.{css,scss}
