Repository IvanOrsh/ts-react-prod: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["npm run lint:ts", "npm run test:unit:staged"],
  "**/*.{css,scss}": ["npm run lint:scss"]
}

refactor: fetch profile by id
  json-server/db.json
  src/entities/Comment/ui/CommentCard/CommentCard.tsx
  src/entities/Profile/model/services/fetchProfileData/fetchProfileData.test.ts
  src/entities/Profile/model/services/fetchProfileData/fetchProfileData.ts
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/config/routeConfig/routeConfig.tsx
Due: npm run lint:ts, npm run test:unit:staged

feat: add comment form feature
  src/features/addCommentForm/index.ts
  src/features/addCommentForm/model/selectors/addCommentFormSelectors.ts
  src/features/addCommentForm/model/slice/addCommentFormSlice.ts
  src/features/addCommentForm/model/types/addCommentFormSchema.ts
  src/features/addCommentForm/ui/AddCommentForm/AddCommentForm.async.ts
  src/features/addCommentForm/ui/AddCommentForm/AddCommentForm.module.scss
  src/features/addCommentForm/ui/AddCommentForm/AddCommentForm.stories.tsx
  src/features/addCommentForm/ui/AddCommentForm/AddCommentForm.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

refactor: "removeAfterUnmount" is true by default
  src/shared/lib/components/DynamicModuleLoader/DynamicModuleLoader.tsx
Due: npm run lint:ts, npm run test:unit:staged

feat: update store, state schema to support add comment form feature
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/app/providers/StoreProvider/config/store.ts
Due: npm run lint:ts, npm run test:unit:staged

fix: expose selector from public api (index)
  src/entities/Article/index.ts
Due: npm run lint:ts, npm run test:unit:staged

chore: update json db, translations
  json-server/db.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
Due: none

fix: broken page wrapper
  src/app/styles/index.scss
Due: npm run lint:scss

fix: update profile type (now it has "id" property)
  src/entities/Profile/model/services/updateProfileData/updateProfileData.test.ts
  src/entities/Profile/model/services/updateProfileData/updateProfileData.ts
  src/entities/Profile/model/types/profile.ts
Due: npm run lint:ts, npm run test:unit:staged

feat: add comment for article service
  src/pages/ArticleDetailsPage/model/services/addCommentForArticle/addCommentForArticle.ts
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.tsx
Due: npm run lint:ts, npm run test:unit:staged

fix: small fix
  src/pages/MainPage/index.ts
  src/pages/ProfilePage/ui/ProfilePageHeader/ProfilePageHeader.module.scss
  src/pages/ProfilePage/ui/ProfilePageHeader/ProfilePageHeader.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

fix: make comment prop optional, styles for loading state
  src/entities/Comment/ui/CommentCard/CommentCard.module.scss
  src/entities/Comment/ui/CommentCard/CommentCard.stories.tsx
  src/entities/Comment/ui/CommentCard/CommentCard.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

fix: display isLoading properly
  src/entities/Comment/ui/CommentList/CommentList.stories.tsx
  src/entities/Comment/ui/CommentList/CommentList.tsx
Due: npm run lint:ts, npm run test:unit:staged

fix: update store decorator
  src/shared/config/storybook/StoreDecorator/StoreDecorator.tsx
Due: npm run lint:ts, npm run test:unit:staged

refactor: move to appropriate folder
  src/entities/Article/ui/ArticleCodeBlockComponent/ArticleCodeBlockComponent.stories.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetails.stories.tsx
  src/entities/Article/ui/ArticleImageBlockComponent/ArticleImageBlockComponent.stories.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponent.stories.tsx
  src/entities/Country/ui/CountrySelect/CountrySelect.stories.tsx
  src/entities/Currency/ui/CurrencySelect/CurrencySelect.stories.tsx
  src/entities/Profile/ui/ProfileCard/ProfileCard.stories.tsx
  src/features/addCommentForm/ui/AddCommentForm/AddCommentForm.stories.tsx
Due: npm run lint:ts, npm run test:unit:staged

fix: typo
  src/features/AuthByUsername/model/selectors/getLoginError/getLoginError.test.ts
Due: npm run lint:ts, npm run test:unit:staged

test: ensure addCommentForm selectors work properly
  src/features/addCommentForm/model/selectors/addCommentFormSelectors.test.ts
Due: npm run lint:ts, npm run test:unit:staged

test: ensure addCommentFormSlice works properly
  src/features/addCommentForm/model/slice/addCommentFormSlice.test.ts
Due: npm run lint:ts, npm run test:unit:staged

test: ensure addCommentForArticle service works properly
  src/pages/ArticleDetailsPage/model/services/addCommentForArticle/addCommentForArticle.test.ts
Due: npm run lint:ts, npm run test:unit:staged

test: ensure fetchCommentsByArticleId works properly
  src/pages/ArticleDetailsPage/model/services/fetchCommentsByArticleId/fetchCommentsByArticleId.test.ts
Due: npm run lint:ts, npm run test:unit:staged

fix: remove console logs
  src/entities/Article/model/services/fetchArticleById/fetchArticleById.ts
  src/features/AuthByUsername/model/service/loginByUsername/loginByUsername.ts
  src/pages/ArticleDetailsPage/model/services/addCommentForArticle/addCommentForArticle.test.ts
Due: npm run lint:ts, npm run test:unit:staged

fix: sidebar profile link navigates to currently authenticated user
  src/widgets/Sidebar/model/items.ts
  src/widgets/Sidebar/model/selectors/getSidebarItems.ts
  src/widgets/Sidebar/model/types/sidebar.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarItem/SidebarItem.tsx
Due: npm run lint:ts, npm run test:unit:staged

feat: enum for article (list/plate) view
  src/entities/Article/index.ts
  src/entities/Article/model/types/article.ts
Due: npm run lint:ts, npm run test:unit:staged

feat: card component (which is more like a box)
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.stories.tsx
  src/shared/ui/Card/Card.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

chore: update global variables
  src/app/styles/themes/dark.scss
  src/app/styles/themes/normal.scss
  src/app/styles/themes/orange.scss
Due: npm run lint:scss

feat: useHover hook
  src/shared/lib/hooks/useHover/useHover.ts
Due: npm run lint:ts, npm run test:unit:staged

chore: update json-server db, update article type
  json-server/db.json
  src/entities/Article/model/types/article.ts
Due: npm run lint:ts, npm run test:unit:staged

feat: article list item
  src/entities/Article/ui/ArticleListItem/ArticleListItem.module.scss
  src/entities/Article/ui/ArticleListItem/ArticleListItem.stories.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItem.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemSkeleton.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: article list
  src/entities/Article/index.ts
  src/entities/Article/ui/ArticleList/ArticleList.module.scss
  src/entities/Article/ui/ArticleList/ArticleList.stories.tsx
  src/entities/Article/ui/ArticleList/ArticleList.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: update pages related to article
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.stories.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.tsx
Due: npm run lint:ts, npm run test:unit:staged

fix: minor story fix
  src/shared/ui/Card/Card.stories.tsx
Due: npm run lint:ts, npm run test:unit:staged

chore: update translations
  public/locales/en/article-details.json
  public/locales/en/translation.json
  public/locales/ru/article-details.json
  public/locales/ru/translation.json
Due: none

chore: approved sreenshots
  .loki/reference/chrome_iphone7_entities_ArticleCodeBlockComponent_Primary.png
  .loki/reference/chrome_iphone7_entities_ArticleDetails_Error.png
  .loki/reference/chrome_iphone7_entities_ArticleDetails_Loading.png
  .loki/reference/chrome_iphone7_entities_ArticleDetails_Primary.png
  .loki/reference/chrome_iphone7_entities_ArticleImageBlockComponent_Primary.png
  .loki/reference/chrome_iphone7_entities_ArticleTextBlockComponent_Primary.png
  .loki/reference/chrome_iphone7_entities_CountrySelect_Dark.png
  .loki/reference/chrome_iphone7_entities_CountrySelect_Primary.png
  .loki/reference/chrome_iphone7_entities_CurrencySelect_Dark.png
  .loki/reference/chrome_iphone7_entities_CurrencySelect_Primary.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Dark.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Error.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Light.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Loading.png
  .loki/reference/chrome_iphone7_page_ArticlesPage_Primary.png
  .loki/reference/chrome_laptop_entities_ArticleCodeBlockComponent_Primary.png
  .loki/reference/chrome_laptop_entities_ArticleDetails_Error.png
  .loki/reference/chrome_laptop_entities_ArticleDetails_Loading.png
  .loki/reference/chrome_laptop_entities_ArticleDetails_Primary.png
  .loki/reference/chrome_laptop_entities_ArticleImageBlockComponent_Primary.png
  .loki/reference/chrome_laptop_entities_ArticleTextBlockComponent_Primary.png
  .loki/reference/chrome_laptop_entities_CountrySelect_Dark.png
  .loki/reference/chrome_laptop_entities_CountrySelect_Primary.png
  .loki/reference/chrome_laptop_entities_CurrencySelect_Dark.png
  .loki/reference/chrome_laptop_entities_CurrencySelect_Primary.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Dark.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Error.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Light.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Loading.png
  .loki/reference/chrome_laptop_page_ArticlesPage_Primary.png
Due: none
