Repository IvanOrsh/ts-react-prod: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run test:unit, npm run lint:scss

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["npm run lint:ts", "npm run test:unit "],
  "**/*.{css,scss}": ["npm run lint:scss"]
}

chore: axios
  package-lock.json
  package.json
Due: none

feat: Text component
  src/shared/ui/Text/Text.module.scss
  src/shared/ui/Text/Text.stories.tsx
  src/shared/ui/Text/Text.tsx
Due: npm run lint:ts, npm run test:unit, npm run lint:scss

chore: edit lintstaged
  .lintstagedrc.json
  package.json
Due: none

feat: add disabled version
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Button/Button.tsx
Due: npm run lint:ts, npm run test:unit, npm run lint:scss

chore: constant to store local storage key
  src/shared/const/localStorage.ts
Due: npm run lint:ts, npm run test:unit

feat: user slice
  src/entities/User/index.ts
  src/entities/User/model/selectors/getUserAuthData.ts
  src/entities/User/model/slice/userSlice.ts
Due: npm run lint:ts, npm run test:unit

feat: auth
  src/features/AuthByUsername/index.ts
  src/features/AuthByUsername/model/selectors/getLoginState.ts
  src/features/AuthByUsername/model/service/loginByUsername/loginByUsername.ts
  src/features/AuthByUsername/model/slice/loginSlice.ts
  src/features/AuthByUsername/model/types/loginSchema.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.stories.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
Due: npm run lint:ts, npm run test:unit

feat: update global state store
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/app/providers/StoreProvider/config/store.ts
  src/app/providers/StoreProvider/hooks/hooks.ts
  src/app/providers/StoreProvider/index.ts
  src/app/providers/StoreProvider/ui/StoreProvider.tsx
  src/index.tsx
Due: npm run lint:ts, npm run test:unit

feat: update App
  src/app/App.tsx
Due: npm run lint:ts, npm run test:unit

fix: use useAppDispatch, useAppSelector
  src/entities/Counter/ui/Counter.tsx
Due: npm run lint:ts, npm run test:unit

chore: more translations
  public/locales/en/translation.json
  public/locales/ru/translation.json
Due: none

chore: decoratory for storybook
  config/storybook/preview.ts
  config/storybook/webpack.config.ts
  src/shared/config/storybook/StoreDecorator/StoreDecorator.tsx
  src/shared/config/storybook/TranslationDecorator/TranslationDecorator.tsx
Due: npm run lint:ts, npm run test:unit

feat: global styles
  src/app/styles/variables/global.scss
Due: npm run lint:scss

feat: Navbar uses LoginModal
  src/widgets/Navbar/ui/Navbar.stories.tsx
  src/widgets/Navbar/ui/Navbar.tsx
Due: npm run lint:ts, npm run test:unit

fix: remove translation decorator as it is disrupting loki
  config/storybook/preview.ts
  src/shared/config/storybook/TranslationDecorator/TranslationDecorator.tsx
Due: npm run lint:ts, npm run test:unit

feat: more stories for navbar
  src/widgets/Navbar/ui/Navbar.stories.tsx
Due: npm run lint:ts, npm run test:unit

chore: approved screenshots
  .loki/reference/chrome_iphone7_features_auth_LoginForm_Dark.png
  .loki/reference/chrome_iphone7_features_auth_LoginForm_Loading.png
  .loki/reference/chrome_iphone7_features_auth_LoginForm_Primary.png
  .loki/reference/chrome_iphone7_features_auth_LoginForm_With_Error.png
  .loki/reference/chrome_iphone7_shared_Button_Disabled.png
  .loki/reference/chrome_iphone7_shared_Text_Dark.png
  .loki/reference/chrome_iphone7_shared_Text_Error.png
  .loki/reference/chrome_iphone7_shared_Text_Error_Dark.png
  .loki/reference/chrome_iphone7_shared_Text_Only_Text.png
  .loki/reference/chrome_iphone7_shared_Text_Only_Title.png
  .loki/reference/chrome_iphone7_shared_Text_Primary.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Authenticated.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Authenticated_Dark.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Not_Authenticated.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Not_Authenticated_Dark.png
  .loki/reference/chrome_laptop_features_auth_LoginForm_Dark.png
  .loki/reference/chrome_laptop_features_auth_LoginForm_Loading.png
  .loki/reference/chrome_laptop_features_auth_LoginForm_Primary.png
  .loki/reference/chrome_laptop_features_auth_LoginForm_With_Error.png
  .loki/reference/chrome_laptop_shared_Button_Disabled.png
  .loki/reference/chrome_laptop_shared_Text_Dark.png
  .loki/reference/chrome_laptop_shared_Text_Error.png
  .loki/reference/chrome_laptop_shared_Text_Error_Dark.png
  .loki/reference/chrome_laptop_shared_Text_Only_Text.png
  .loki/reference/chrome_laptop_shared_Text_Only_Title.png
  .loki/reference/chrome_laptop_shared_Text_Primary.png
  .loki/reference/chrome_laptop_widgets_Navbar_Authenticated.png
  .loki/reference/chrome_laptop_widgets_Navbar_Authenticated_Dark.png
  .loki/reference/chrome_laptop_widgets_Navbar_Not_Authenticated.png
  .loki/reference/chrome_laptop_widgets_Navbar_Not_Authenticated_Dark.png
Due: none

fix: filename typo
  src/entities/Counter/index.ts
  src/entities/Counter/model/slice/counterSlice.test.ts
  src/entities/Counter/model/slice/counterSlice.ts
  src/entities/Counter/ui/Counter.tsx
Due: npm run lint:ts, npm run test:unit

refactor: separate selectors (instead of just "state")
  src/features/AuthByUsername/model/selectors/getLoginError/getLoginError.ts
  src/features/AuthByUsername/model/selectors/getLoginIsLoading/getLoginIsLoading.ts
  src/features/AuthByUsername/model/selectors/getLoginPassword/getLoginPassword.ts
  src/features/AuthByUsername/model/selectors/getLoginState.ts
  src/features/AuthByUsername/model/selectors/getLoginUsername/getLoginUsername.ts
  src/features/AuthByUsername/model/selectors/index.ts
Due: npm run lint:ts, npm run test:unit

feat: introduced reducerManager to dynamically add/remove reducers
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/app/providers/StoreProvider/config/reducerManager.ts
  src/app/providers/StoreProvider/config/store.ts
  src/app/providers/StoreProvider/hooks/hooks.ts
  src/app/providers/StoreProvider/index.ts
  src/app/providers/StoreProvider/lib/hooks.ts
Due: npm run lint:ts, npm run test:unit

feat: component for dynamic module loading
  src/shared/lib/components/DynamicModuleLoader/DynamicModuleLoader.tsx
Due: npm run lint:ts, npm run test:unit

fix: "loginForm" instead of "login"
  src/features/AuthByUsername/model/slice/loginSlice.ts
Due: npm run lint:ts, npm run test:unit

feat: login form now makes use of reducerManager and dynamic module loading component
  src/features/AuthByUsername/ui/LoginForm/LoginForm.async.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginForm.stories.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/features/AuthByUsername/ui/LoginModal/LoginModal.tsx
Due: npm run lint:ts, npm run test:unit

fix: code styles
  config/build/buildPlugins.ts
  src/widgets/Navbar/ui/Navbar.tsx
Due: npm run lint:ts, npm run test:unit

chore: screenshots approved
  .loki/reference/chrome_iphone7_features_auth_LoginForm_Dark.png
  .loki/reference/chrome_iphone7_features_auth_LoginForm_Loading.png
  .loki/reference/chrome_iphone7_features_auth_LoginForm_Primary.png
  .loki/reference/chrome_iphone7_features_auth_LoginForm_With_Error.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Light.png
  .loki/reference/chrome_laptop_features_auth_LoginForm_Dark.png
  .loki/reference/chrome_laptop_features_auth_LoginForm_Loading.png
  .loki/reference/chrome_laptop_features_auth_LoginForm_Primary.png
  .loki/reference/chrome_laptop_features_auth_LoginForm_With_Error.png
  .loki/reference/chrome_laptop_widgets_Navbar_Dark.png
  .loki/reference/chrome_laptop_widgets_Navbar_Light.png
Due: none

refactor: use strings for ids
  json-server/db.json
Due: none

test: ensure that selectors work properly
  src/features/AuthByUsername/model/selectors/getLoginError/getLoginError.test.ts
  src/features/AuthByUsername/model/selectors/getLoginIsLoading/getLoginIsLoading.test.ts
  src/features/AuthByUsername/model/selectors/getLoginPassword/getLoginPassword.test.ts
  src/features/AuthByUsername/model/selectors/getLoginUsername/getLoginUsername.test.ts
  src/features/AuthByUsername/model/service/loginByUsername/loginByUsername.test.ts
Due: npm run lint:ts, npm run test:unit

chore: TestAsyncThunk helper
  src/shared/lib/tests/TestAsyncThunk/TestAsyncThunk.ts
Due: npm run lint:ts, npm run test:unit

test: ensure loginSlice works properly
  src/features/AuthByUsername/model/slice/loginSlice.test.ts
Due: npm run lint:ts, npm run test:unit

refactor: move useAppDispatch, useAppStore and useAppSelector to "shared" layer: shared/lib/hooks
  src/app/App.tsx
  src/app/providers/StoreProvider/index.ts
  src/app/providers/StoreProvider/lib/hooks.ts
  src/entities/Counter/index.ts
  src/entities/Counter/ui/Counter.tsx
  src/entities/User/index.ts
  src/shared/lib/components/DynamicModuleLoader/DynamicModuleLoader.tsx
  src/shared/lib/hooks/index.ts
  src/shared/lib/hooks/useAppDispatch/useAppDispatch.ts
  src/shared/lib/hooks/useAppSelector/useAppSelector.ts
  src/shared/lib/hooks/useAppStore/useAppStore.ts
  src/widgets/Navbar/ui/Navbar.tsx
Due: npm run lint:ts, npm run test:unit

fix: rename type to types
  src/entities/User/model/types/user.ts
Due: npm run lint:ts, npm run test:unit

feat: new entity: Profile
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/app/providers/StoreProvider/config/store.ts
  src/entities/Profile/index.ts
  src/entities/Profile/model/slice/profileSlice.ts
  src/entities/Profile/model/types/profile.ts
Due: npm run lint:ts, npm run test:unit

feat: new page: ProfilePage
  src/pages/ProfilePage/index.ts
  src/pages/ProfilePage/ui/ProfilePage.async.tsx
  src/pages/ProfilePage/ui/ProfilePage.stories.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/assets/icons/profile-20-20.svg
Due: npm run lint:ts, npm run test:unit

feat: route for ProfilePage
  src/shared/config/routeConfig/routeConfig.tsx
Due: npm run lint:ts, npm run test:unit

fix: corrected import
  src/entities/User/model/slice/userSlice.ts
Due: npm run lint:ts, npm run test:unit

chore: transaltions, profile in for json-server
  json-server/db.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
Due: none

refactor: extract sidebar item
  src/widgets/Sidebar/model/items.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarItem/SidebarItem.module.scss
  src/widgets/Sidebar/ui/SidebarItem/SidebarItem.tsx
Due: npm run lint:ts, npm run test:unit, npm run lint:scss

fix: make login form close on success
  src/features/AuthByUsername/index.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/features/AuthByUsername/ui/LoginModal/LoginModal.tsx
Due: npm run lint:ts, npm run test:unit

chore: common enums
  src/shared/const/common.ts
Due: npm run lint:ts, npm run test:unit

fix: memoize
  src/shared/ui/AppLink/AppLink.tsx
  src/shared/ui/Button/Button.tsx
  src/shared/ui/LangSwitcher/ui/LangSwitcher.tsx
  src/shared/ui/Text/Text.tsx
  src/shared/ui/ThemeSwitcher/ui/ThemeSwitcher.tsx
Due: npm run lint:ts, npm run test:unit
