Repository IvanOrsh/ts-react-prod: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["npm run lint:ts", "npm run test:unit:staged"],
  "**/*.{css,scss}": ["npm run lint:scss"]
}

chore: approved screenshots for/from loki
  .loki/reference/chrome_iphone7_page_ProfilePage_Dark.png
  .loki/reference/chrome_iphone7_page_ProfilePage_Light.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light.png
  .loki/reference/chrome_laptop_page_ProfilePage_Dark.png
  .loki/reference/chrome_laptop_page_ProfilePage_Light.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light.png
Due: none

chore: add __API__ as a global variable
  config/build/buildPlugins.ts
  config/build/types/config.ts
  config/jest/jest.config.ts
  config/storybook/webpack.config.ts
  src/app/types/global.d.ts
  webpack.config.ts
Due: npm run lint:ts, npm run test:unit:staged

chore: turn on strict mode
  tsconfig.json
Due: none

chore: add translations
  public/locales/en/profile.json
  public/locales/ru/profile.json
Due: none

fix: strict mode errors
  src/app/providers/ThemeProvider/lib/useTheme.ts
  src/shared/lib/classNames/classNames.ts
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Input/Input.tsx
  src/shared/ui/Modal/Modal.tsx
  src/widgets/Sidebar/ui/SidebarItem/SidebarItem.tsx
Due: npm run lint:ts, npm run test:unit:staged

feat: Profile entity
  src/entities/Profile/index.ts
  src/entities/Profile/model/selectors/getProfileData/getProfileData.ts
  src/entities/Profile/model/selectors/getProfileError/getProfileError.ts
  src/entities/Profile/model/selectors/getProfileIsLoading/getProfileIsLoading.ts
  src/entities/Profile/model/selectors/index.ts
  src/entities/Profile/model/services/fetchProfileData/fetchProfileData.ts
  src/entities/Profile/model/slice/profileSlice.ts
  src/entities/Profile/ui/ProfileCard/ProfileCard.module.scss
  src/entities/Profile/ui/ProfileCard/ProfileCard.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

chore: shared api
  src/shared/api/api.ts
Due: npm run lint:ts, npm run test:unit:staged

fix: correct import
  src/shared/config/routeConfig/routeConfig.tsx
Due: npm run lint:ts, npm run test:unit:staged

fix: edit types
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/app/providers/StoreProvider/config/store.ts
  src/app/providers/StoreProvider/index.ts
  src/app/providers/StoreProvider/ui/StoreProvider.tsx
  src/index.tsx
  src/shared/config/storybook/StoreDecorator/StoreDecorator.tsx
  src/shared/lib/components/DynamicModuleLoader/DynamicModuleLoader.tsx
  src/shared/lib/tests/TestAsyncThunk/TestAsyncThunk.ts
  src/shared/lib/tests/componentRender/componentRender.tsx
Due: npm run lint:ts, npm run test:unit:staged

feat: Profile page
  src/pages/ProfilePage/index.ts
  src/pages/ProfilePage/ui/ProfilePage.tsx
Due: npm run lint:ts, npm run test:unit:staged

fix: types (DeepPartial) & api
  src/features/AuthByUsername/model/selectors/getLoginError/getLoginError.test.ts
  src/features/AuthByUsername/model/selectors/getLoginIsLoading/getLoginIsLoading.test.ts
  src/features/AuthByUsername/model/selectors/getLoginPassword/getLoginPassword.test.ts
  src/features/AuthByUsername/model/selectors/getLoginUsername/getLoginUsername.test.ts
  src/features/AuthByUsername/model/service/loginByUsername/loginByUsername.test.ts
  src/features/AuthByUsername/model/service/loginByUsername/loginByUsername.ts
  src/features/AuthByUsername/model/slice/loginSlice.test.ts
Due: npm run lint:ts, npm run test:unit:staged

feat: select component
  src/shared/ui/Select/Select.module.scss
  src/shared/ui/Select/Select.stories.tsx
  src/shared/ui/Select/Select.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: add styles for "readonly" state of input component
  src/shared/ui/Input/Input.module.scss
  src/shared/ui/Input/Input.stories.tsx
  src/shared/ui/Input/Input.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: text component now accepts align property
  src/shared/ui/Text/Text.module.scss
  src/shared/ui/Text/Text.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: avatar component
  src/shared/ui/Avatar/Avatar.module.scss
  src/shared/ui/Avatar/Avatar.stories.tsx
  src/shared/ui/Avatar/Avatar.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: new theme for button: outline_red
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Button/Button.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: selectors for profile entity
  src/entities/Profile/model/selectors/getProfileForm/getProfileForm.ts
  src/entities/Profile/model/selectors/getProfileReadonly/getProfileReadonly.ts
Due: npm run lint:ts, npm run test:unit:staged

feat: country entity with CountrySelect component
  src/entities/Country/index.ts
  src/entities/Country/model/types/country.ts
  src/entities/Country/ui/CountrySelect/CountrySelect.stories.tsx
  src/entities/Country/ui/CountrySelect/CountrySelect.tsx
Due: npm run lint:ts, npm run test:unit:staged

feat: currency entity with CurrencySelect component
  src/entities/Currency/index.ts
  src/entities/Currency/model/types/currency.ts
  src/entities/Currency/ui/CurrencySelect/CurrencySelect.stories.tsx
  src/entities/Currency/ui/CurrencySelect/CurrencySelect.tsx
Due: npm run lint:ts, npm run test:unit:staged

chore: transaltions and profile json
  json-server/db.json
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
Due: none

feat: profile entity and ProfileCard component
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/entities/Profile/index.ts
  src/entities/Profile/model/selectors/index.ts
  src/entities/Profile/model/services/updateProfileData/updateProfileData.ts
  src/entities/Profile/model/slice/profileSlice.ts
  src/entities/Profile/model/types/profile.ts
  src/entities/Profile/ui/ProfileCard/ProfileCard.module.scss
  src/entities/Profile/ui/ProfileCard/ProfileCard.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: profile page
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/pages/ProfilePage/ui/ProfilePageHeader/ProfilePageHeader.module.scss
  src/pages/ProfilePage/ui/ProfilePageHeader/ProfilePageHeader.tsx
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

feat: WIP "protected" route (profile route)
  src/app/providers/router/ui/AppRouter.tsx
  src/shared/config/routeConfig/routeConfig.tsx
  src/widgets/Sidebar/model/items.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.stories.tsx
  src/widgets/Sidebar/ui/SidebarItem/SidebarItem.tsx
Due: npm run lint:ts, npm run test:unit:staged

fix: WIP profile page storybook
  src/pages/ProfilePage/ui/ProfilePage.stories.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
Due: npm run lint:ts, npm run test:unit:staged

feat: validate profile data on update
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/entities/Profile/index.ts
  src/entities/Profile/model/selectors/getProfileValidateErrors/getProfileValidateError.ts
  src/entities/Profile/model/selectors/index.ts
  src/entities/Profile/model/services/updateProfileData/updateProfileData.ts
  src/entities/Profile/model/services/validateProfileData/validateProfileData.ts
  src/entities/Profile/model/slice/profileSlice.ts
  src/entities/Profile/model/types/profile.ts
  src/pages/ProfilePage/ui/ProfilePage.tsx
Due: npm run lint:ts, npm run test:unit:staged

chore: __PROJECT__ global variable to distinguish between environments
  config/build/buildPlugins.ts
  config/build/types/config.ts
  config/jest/jest.config.ts
  config/storybook/webpack.config.ts
  src/app/types/global.d.ts
  webpack.config.ts
Due: npm run lint:ts, npm run test:unit:staged

test: ensure profile selectors work properly
  src/entities/Profile/model/selectors/getProfileData/getProfileData.test.ts
  src/entities/Profile/model/selectors/getProfileError/getProfileError.test.ts
  src/entities/Profile/model/selectors/getProfileForm/getProfileForm.test.ts
  src/entities/Profile/model/selectors/getProfileIsLoading/getProfileIsLoading.test.ts
  src/entities/Profile/model/selectors/getProfileReadonly/getProfileReadonly.test.ts
  src/entities/Profile/model/selectors/getProfileValidateErrors/getProfileValidateErrors.test.ts
  src/entities/Profile/model/selectors/getProfileValidateErrors/getProfileValidateErrors.ts
  src/entities/Profile/model/selectors/index.ts
Due: npm run lint:ts, npm run test:unit:staged

feat: now TestAsyncThunk can accept state
  src/shared/lib/tests/TestAsyncThunk/TestAsyncThunk.ts
Due: npm run lint:ts, npm run test:unit:staged

test: ensure fetchProfileData works properly
  src/entities/Profile/model/services/fetchProfileData/fetchProfileData.test.ts
Due: npm run lint:ts, npm run test:unit:staged

test: ensure updateProfileData works properly
  src/entities/Profile/model/services/updateProfileData/updateProfileData.test.ts
Due: npm run lint:ts, npm run test:unit:staged

test: ensure validateProfileData works properly
  src/entities/Profile/model/services/validateProfileData/validateProfileData.test.ts
  src/entities/Profile/model/services/validateProfileData/validateProfileData.ts
Due: npm run lint:ts, npm run test:unit:staged

chore: story for ProfileCard
  src/entities/Profile/ui/ProfileCard/ProfileCard.stories.tsx
Due: npm run lint:ts, npm run test:unit:staged

chore: story for ProfilePage
  src/pages/ProfilePage/ui/ProfilePage.stories.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
Due: npm run lint:ts, npm run test:unit:staged

fix: typo
  src/features/AuthByUsername/model/slice/loginSlice.test.ts
  src/features/AuthByUsername/model/slice/loginSlice.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
Due: npm run lint:ts, npm run test:unit:staged

test: ensure profileSlice works properly
  src/entities/Profile/model/slice/profileSlice.test.ts
  src/entities/Profile/ui/ProfileCard/ProfileCard.stories.tsx
Due: npm run lint:ts, npm run test:unit:staged

chore: screenshots for visual testing - expected to pass now
  .loki/reference/chrome_iphone7_entities_ProfileCard_Dark.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Error.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Light.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Loading.png
  .loki/reference/chrome_iphone7_entities_ProfilePage_Dark.png
  .loki/reference/chrome_iphone7_entities_ProfilePage_Error.png
  .loki/reference/chrome_iphone7_entities_ProfilePage_Light.png
  .loki/reference/chrome_iphone7_entities_ProfilePage_Loading.png
  .loki/reference/chrome_iphone7_page_ProfilePage_Dark.png
  .loki/reference/chrome_iphone7_page_ProfilePage_Light.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Dark.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Error.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Light.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Loading.png
  .loki/reference/chrome_laptop_entities_ProfilePage_Dark.png
  .loki/reference/chrome_laptop_entities_ProfilePage_Error.png
  .loki/reference/chrome_laptop_entities_ProfilePage_Light.png
  .loki/reference/chrome_laptop_entities_ProfilePage_Loading.png
  .loki/reference/chrome_laptop_page_ProfilePage_Dark.png
  .loki/reference/chrome_laptop_page_ProfilePage_Light.png
Due: none

feat: orange theme
  .eslintrc.js
  src/app/providers/ThemeProvider/lib/ThemeContext.ts
  src/app/providers/ThemeProvider/lib/useTheme.ts
  src/app/styles/index.scss
  src/app/styles/themes/orange.scss
Due: npm run lint:ts, npm run test:unit:staged, npm run lint:scss

chore: install concurrently
  package-lock.json
  package.json
Due: none

chore: folder template for vs code
  .vscode/settings.json
Due: none
